
/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

body{
  background: radial-gradient(circle,rgb(38, 43, 72),rgb(23, 29, 53),rgba(21,26,46));
}
.hero { padding-block-start: calc(var(--section-padding) + 80px); }

.hero .container {
  display: grid;
  gap: 40px;
}

.hero-text {
  color: var(--eerie-black-1);
  font-size: var(--fs-4);
  text-align: center;
  margin-block: 18px 20px;
}

.hero .btn { margin-inline: auto; }

.hero-banner {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  align-items: flex-start;
  gap: 30px;
}

.hero-banner .img-holder.one {
  border-top-right-radius: 70px;
  border-bottom-left-radius: 110px;
}

.hero-banner .img-holder.two {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 90px;
}





/*-----------------------------------*\
  #CATEGORY
\*-----------------------------------*/
.category-card:hover {
  border: 2px solid blueviolet; 
  box-shadow: 0 8px 16px rgba(171, 2, 232, 0.3); 
}

.category .section-subtitle { color: var(--radical-red); }

.category .section-title { 
  color: whitesmoke;
}
.category .section-title .span{ 
  /* --color: var(--kappel);  */
  color: rgb(183, 27, 223);
}

.category .section-text { margin-block-end: 40px; }

.category-card {
  padding: 50px 30px;
  text-align: center;
  border-radius: var(--radius-5);
}

.category-card .card-icon img{
  background-color: hsla(var(--color), 0.1);
  width: 200px;
  height: 200px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
  margin-inline: auto;
  margin-block-end: 30px;
}

.category-card .card-text {
  color: var(--eerie-black-1);
  font-size: var(--fs-5);
  margin-block: 15px 25px;
}

.category-card .card-badge {
  box-shadow: 5px 5px 5px .5px rgba(13, 13, 13, 0.368); 
  color: hsl(var(--color));
  font-size: var(--fs-5);
  font-weight: var(--fw-500);
  padding: 2px 18px;
  max-width: max-content;
  margin-inline: auto;
  border-radius: var(--radius-5);
}




/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about {
  padding-block-start: 0;
  overflow: hidden;
}

.about .container {
  display: grid;
  gap: 30px;
}

.about-banner {
  position: relative;
  z-index: 1;
}

.about-banner .img-holder { border-radius: var(--radius-10); }

.about-shape-2 {
  display: block;
  bottom: -100px;
  left: -60px;
  animation: bounce 2.5s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% { transform: translateY(0); }

  40% { transform: translateY(-30px); }

  60% { transform: translateY(-15px); }
}

.about :is(.section-subtitle, .section-title, .section-text) {
  text-align: left;
}

.about-item {
  margin-block: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.about-item ion-icon {
  color: var(--selective-yellow);
  font-size: 20px;
  --ionicon-stroke-width: 50px;
}

.about-item .span {
  color: var(--eerie-black-1);
  font-family: var(--ff-league_spartan);
}





/*-----------------------------------*\
  #COURSE
\*-----------------------------------*/

.course { 
  background-color: var(--isabelline); 
  /* background-color: rgb(8, 8, 48); */
}

.course-card {
  position: relative;
  background-color: var(--white);
  border-radius: var(--radius-5);
  overflow: hidden;
}

.course-card .img-cover { transition: var(--transition-2); }

.course-card:is(:hover, :focus-within) .img-cover { transform: scale(1.1); }

.course-card :is(.abs-badge, .badge) {
  font-family: var(--ff-league_spartan);
  border-radius: var(--radius-3);
}

.course-card .abs-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--selective-yellow);
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 1;
  padding: 6px 8px;
  padding-block-end: 3px;
}

.course-card .abs-badge ion-icon {
  font-size: 18px;
  margin-block-end: 5px;
  --ionicon-stroke-width: 50px;
}

.course-card .card-content { padding: 25px; }

.course-card .badge {
  background-color: var(--kappel_15);
  max-width: max-content;
  color: var(--kappel);
  line-height: 25px;
  padding-inline: 10px;
}

.course-card .card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-block: 15px 8px;
  transition: var(--transition-1);
}

.course-card .card-title:is(:hover, :focus) { color: var(--kappel); }

.course-card :is(.wrapper, .rating-wrapper, .card-meta-list, .card-meta-item) {
  display: flex;
  align-items: center;
}

.course-card .wrapper { gap: 10px; }

.course-card .rating-wrapper { gap: 3px; }

.course-card .rating-wrapper ion-icon { color: var(--selective-yellow); }

.course-card .rating-text {
  color: var(--eerie-black-1);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
}

.course-card .price {
  color: var(--radical-red);
  font-family: var(--ff-league_spartan);
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  margin-block: 8px 15px;
}

.course-card .card-meta-list { flex-wrap: wrap; }

.course-card .card-meta-item {
  position: relative;
  gap: 5px;
}

.course-card .card-meta-item:not(:last-child)::after {
  content: "|";
  display: inline-block;
  color: var(--platinum);
  padding-inline: 10px;
}

.course-card .card-meta-item ion-icon {
  color: var(--quick-silver);
  --ionicon-stroke-width: 50px;
}

.course-card .card-meta-item .span {
  color: var(--eerie-black-1);
  font-size: var(--fs-7);
}

.course .btn {
  margin-inline: auto;
  margin-block-start: 60px;
}





/*-----------------------------------*\
  #VIDEO
\*-----------------------------------*/

.video {
  background-size: contain;
  background-position: center top;
}

.video-banner {
  position: relative;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 120px;
}

.video .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--radical-red);
  font-size: 30px;
  padding: 16px;
  color: var(--white);
  border-radius: var(--radius-circle);
  box-shadow: 0 0 0 0 var(--white_50);
  z-index: 1;
  animation: pulse 3s ease infinite;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--white_50); }
  100% { box-shadow: 0 0 0 20px transparent; }
}

.video-banner::after {
  inset: 0;
  background-color: var(--black_30);
}





/*-----------------------------------*\
  #STATS
\*-----------------------------------*/

.stats-card {
  text-align: center;
  padding: 25px;
  border-radius: var(--radius-10);
}

.stats-card :is(.card-title, .card-text) { font-family: var(--ff-league_spartan); }

.stats-card .card-title {
  color: hsl(var(--color));
  font-size: var(--fs-2);
  line-height: 1.1;
}

.stats-card .card-text {
  color: var(--eerie-black-1);
  text-transform: uppercase;
}





/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog-card .card-banner { border-radius: var(--radius-10); }

.blog-card .card-banner .img-cover { transition: var(--transition-2); }

.blog-card .card-banner::after {
  inset: 0;
  background-color: var(--black_50);
  opacity: 0;
  transition: var(--transition-1);
}

.blog-card:is(:hover, :focus-within) .card-banner .img-cover { transform: scale(1.1); }

.blog-card:is(:hover, :focus-within) .card-banner::after { opacity: 1; }

.blog-card .card-content {
  position: relative;
  margin-inline: 15px;
  background-color: var(--white);
  padding: 20px;
  border-radius: var(--radius-10);
  box-shadow: var(--shadow-3);
  margin-block-start: -100px;
  z-index: 1;
}

.blog-card .card-btn {
  position: absolute;
  top: -40px;
  right: 30px;
  background-color: var(--kappel);
  color: var(--white);
  font-size: 20px;
  padding: 20px;
  border-radius: var(--radius-circle);
  transition: var(--transition-1);
  opacity: 0;
}

.blog-card .card-btn:is(:hover, :focus) { background-color: var(--radical-red); }

.blog-card:is(:hover, :focus-within) .card-btn {
  opacity: 1;
  transform: translateY(10px);
}

.blog-card :is(.card-meta-item, .card-text, .card-subtitle) {
  font-size: var(--fs-5);
}

.blog-card .card-subtitle { text-transform: uppercase; }

.blog-card .card-title {
  margin-block: 10px 15px;
  transition: var(--transition-1);
}

.blog-card .card-title:is(:hover, :focus) { color: var(--kappel); }

.blog-card :is(.card-meta-list, .card-meta-item) { display: flex; }

.blog-card .card-meta-list {
  flex-wrap: wrap;
  gap: 10px 20px;
  margin-block-end: 20px;
}

.blog-card .card-meta-item {
  gap: 10px;
  align-items: center;
  color: var(--eerie-black-1);
}

.blog-card .card-meta-item ion-icon {
  color: var(--kappel);
  font-size: 18px;
  --ionicon-stroke-width: 40px;
}

